html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*User CSS starts here */

body {
	background-color: #eceef1;
}

header {
	display: flex;
	justify-content: flex-end;
	padding: 10px 30px;
}


#header-text {
	display: flex;
	flex-direction: column;
	font-family: AvenirNext, Avenir, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 12px;
	text-align: right;
	line-height: 1.5;
}

#header-span {
	font-weight: 100;
	color: #505050;
}

#header-a {
	text-decoration: none;
	color: #0089cd;
}

.button {
	background-color: #0077c5;
	color: white;
	border: 1px solid #4c4c4c;
	padding: 0 20px;
	border-radius: 4px;
	font-size: 1.125em;
	margin-left: 10px;
	height: 34px;
	justify-content: center;
	align-items: center;
}

#lock-icon {
}


main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 36px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	color: #8d9096;
	margin-bottom: 20px;

}

.subtitle {
	font-family: font-family: Helvetica, sans-serif;
	font-size: 18px;
	color: #6b6c72;
	margin-bottom: 20px;
}

.circle {
	border: solid;
	border-radius: 30px;
	padding-left: 10px;
}

#blue {
	border-color: #00a6a4;
	background-color: #00a6a4;
	color: #00a6a4;
}

#green {
	border-color: #2ca01c;
	background-color: #2ca01c;
	color: #2ca01c;
}

#red {
	border-color: #d52b1e;
	background-color: #d52b1e;
	color: #d52b1e;
}

form {
	border: 1px solid #c7c7c7;
	background-color: #ffffff;
	padding: 60px;
}

h2 {
	font-size: 24px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #4c4c4c;
	font-weight: 400;
	margin: 30px;
}

h5 {
	font-size: 14px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #4c4c4c;
	font-weight: 300;
}

#learn-more {
	font-size: 12px;
	color: #0077c5;
	margin-bottom: 20px;
}

fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.labels {
	font-weight: 400;
	color: #404040;
	font-size: 14px;
	line-height: 25px;
}
